.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-self: center;
    gap: 8px;
    max-width: 750px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.card img {
    width: 100%;
    margin-top: auto;
}

.card > p {
    font-size: 1.25rem;
}

.card:hover {
    box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

.card:hover img {
    transform: scale(1.15);
}

.card:disabled {
    box-shadow: none;
    transform: none;
}

.card:disabled img {
    transform: none;
}

#fire:hover {
    background-color: #EE8130;
}

#water:hover {
    background-color: #6390F0;
}

#dragon:hover {
    background-color:#6F35FC;
}

#psychic:hover {
    background-color: #F95587;
}

#normal:hover {
    background-color: #A8A77A;
}

#grass:hover {
    background-color: #7AC74C;
}

#ghost:hover {
    background-color: #735797;
}

#ground:hover {
    background-color: #E2BF65;
}

#electric:hover {
    background-color: #F7D02C;
}

#rock:hover {
    background-color: #B6A136;
}

@media (max-width: 425px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}