.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-self: center;
    gap: 8px;
    max-width: 750px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.card img {
    width: 100%;
    margin-top: auto;
}

.card > div {
    font-size: 1.25rem;
}

.card:hover {
    box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

.card:hover img {
    transform: scale(1.15);
}

@media (max-width: 425px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card:disabled {
    box-shadow: none;
    transform: none;
}

.card:disabled img {
    transform: none;
}