.scoreboard {
    display: flex;
    gap: 16px;
    align-items: center;
}

.scoreboard div {
    font-size: 1.25em;
}

@media (max-width: 560px) {
    .scoreboard {
        gap: 8px;
    }

    .scoreboard div {
        font-size: 1em;
    }
}

@media (max-width: 391px) {
    .scoreboard div {
        align-self: flex-start;
    }
}